[data-cellid="grid_headcell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_headcell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_headcell_field"][data-page="reportmonitorprojectstatus1_list"] {
  background-color: #ffffff;
}
[data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus1_list"] {
  background-color: #ffffff;
}
[data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus1_list"][data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus1_list"] {
  white-space: nowrap;
}
[data-page="reportmonitorprojectstatus1_list"][data-itemid="simple_grid_field1"] {
  background-color: #ffffff;
  font-size: 35px;
}


