[data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_cell_field"][data-page="reportmonitorprojectstatus7_list"] {
  background-color: #ffffff;
}
[data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_footcell_field"][data-page="reportmonitorprojectstatus7_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_headcell_icons"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_headcell_icons"][data-page="reportmonitorprojectstatus7_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_cell_icons"][data-page="reportmonitorprojectstatus7_list"][data-cellid="grid_cell_icons"][data-page="reportmonitorprojectstatus7_list"] {
  white-space: nowrap;
}
[data-page="reportmonitorprojectstatus7_list"][data-itemid="grid_field1"] {
  background-color: #ffffff;
  font-size: 35px;
}


