<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel missionAssignment add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN missionAssignmentNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentNo}  r-vertical-field" 
	data-signal-error-for="missionAssignmentNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="missionAssignmentNo" data-fieldname="missionAssignmentNo" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentNo}">
		{BEGIN missionAssignmentNo_label}{$label missionAssignment missionAssignmentNo }{END missionAssignmentNo_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentNo">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentNo }		</div>
	</div>
</div>


{END missionAssignmentNo_fieldblock}
											
{BEGIN missionAssignmentName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentName}  r-vertical-field" 
	data-signal-error-for="missionAssignmentName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="missionAssignmentName" data-fieldname="missionAssignmentName" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentName}">
		{BEGIN missionAssignmentName_label}{$label missionAssignment missionAssignmentName }{END missionAssignmentName_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentName">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentName }		</div>
	</div>
</div>


{END missionAssignmentName_fieldblock}
											
{BEGIN missionAssignmentFile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentFile}  r-vertical-field" 
	data-signal-error-for="missionAssignmentFile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="missionAssignmentFile" data-fieldname="missionAssignmentFile" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentFile}">
		{BEGIN missionAssignmentFile_label}{$label missionAssignment missionAssignmentFile }{END missionAssignmentFile_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentFile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentFile">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentFile }		</div>
	</div>
</div>


{END missionAssignmentFile_fieldblock}
											
{BEGIN missionAssignmentDesc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentDesc}  r-vertical-field" 
	data-signal-error-for="missionAssignmentDesc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="missionAssignmentDesc" data-fieldname="missionAssignmentDesc" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentDesc}">
		{BEGIN missionAssignmentDesc_label}{$label missionAssignment missionAssignmentDesc }{END missionAssignmentDesc_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentDesc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentDesc">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentDesc }		</div>
	</div>
</div>


{END missionAssignmentDesc_fieldblock}
											
{BEGIN missionAssignmentConsiderName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentConsiderName}  r-vertical-field" 
	data-signal-error-for="missionAssignmentConsiderName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="missionAssignmentConsiderName" data-fieldname="missionAssignmentConsiderName" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentConsiderName}">
		{BEGIN missionAssignmentConsiderName_label}{$label missionAssignment missionAssignmentConsiderName }{END missionAssignmentConsiderName_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentConsiderName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentConsiderName">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentConsiderName }		</div>
	</div>
</div>


{END missionAssignmentConsiderName_fieldblock}
											
{BEGIN missionAssignmentResponsibleName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentResponsibleName}  r-vertical-field" 
	data-signal-error-for="missionAssignmentResponsibleName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="missionAssignmentResponsibleName" data-fieldname="missionAssignmentResponsibleName" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentResponsibleName}">
		{BEGIN missionAssignmentResponsibleName_label}{$label missionAssignment missionAssignmentResponsibleName }{END missionAssignmentResponsibleName_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentResponsibleName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentResponsibleName">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentResponsibleName }		</div>
	</div>
</div>


{END missionAssignmentResponsibleName_fieldblock}
											
{BEGIN entryUserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-vertical-field" 
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >

	<label class="r-edit-label control-label" for="{$labelfor_entryUserName}">
		{BEGIN entryUserName_label}{$label missionAssignment entryUserName }{END entryUserName_label}
	</label>
	<div class="r-edit-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryUserName">
		<div class="text-muted" >
		{$tooltip missionAssignment entryUserName }		</div>
	</div>
</div>


{END entryUserName_fieldblock}
											
{BEGIN entryTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-vertical-field" 
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >

	<label class="r-edit-label control-label" for="{$labelfor_entryTime}">
		{BEGIN entryTime_label}{$label missionAssignment entryTime }{END entryTime_label}
	</label>
	<div class="r-edit-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryTime">
		<div class="text-muted" >
		{$tooltip missionAssignment entryTime }		</div>
	</div>
</div>


{END entryTime_fieldblock}
											
{BEGIN id_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-vertical-field" 
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >

	<label class="r-edit-label control-label" for="{$labelfor_id}">
		{BEGIN id_label}{$label missionAssignment id }{END id_label}
	</label>
	<div class="r-edit-field">
		{$id_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="id">
		<div class="text-muted" >
		{$tooltip missionAssignment id }		</div>
	</div>
</div>


{END id_fieldblock}
											
{BEGIN missionFollowID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionFollowID}  r-vertical-field" 
	data-signal-error-for="missionFollowID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="missionFollowID" data-fieldname="missionFollowID" >

	<label class="r-edit-label control-label" for="{$labelfor_missionFollowID}">
		{BEGIN missionFollowID_label}{$label missionAssignment missionFollowID }{END missionFollowID_label}
	</label>
	<div class="r-edit-field">
		{$missionFollowID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionFollowID">
		<div class="text-muted" >
		{$tooltip missionAssignment missionFollowID }		</div>
	</div>
</div>


{END missionFollowID_fieldblock}
											
{BEGIN missionAssignmentConsiderValue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_missionAssignmentConsiderValue}  r-vertical-field" 
	data-signal-error-for="missionAssignmentConsiderValue{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="missionAssignmentConsiderValue" data-fieldname="missionAssignmentConsiderValue" >

	<label class="r-edit-label control-label" for="{$labelfor_missionAssignmentConsiderValue}">
		{BEGIN missionAssignmentConsiderValue_label}{$label missionAssignment missionAssignmentConsiderValue }{END missionAssignmentConsiderValue_label}
	</label>
	<div class="r-edit-field">
		{$missionAssignmentConsiderValue_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="missionAssignmentConsiderValue">
		<div class="text-muted" >
		{$tooltip missionAssignment missionAssignmentConsiderValue }		</div>
	</div>
</div>


{END missionAssignmentConsiderValue_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
