<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel project_audit add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN datetime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_datetime}  r-vertical-field" 
	data-signal-error-for="datetime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="datetime" data-fieldname="datetime" >

	<label class="r-edit-label control-label" for="{$labelfor_datetime}">
		{BEGIN datetime_label}{$label project_audit datetime }{END datetime_label}
	</label>
	<div class="r-edit-field">
		{$datetime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="datetime">
		<div class="text-muted" >
		{$tooltip project_audit datetime }		</div>
	</div>
</div>


{END datetime_fieldblock}
											
{BEGIN ip_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ip}  r-vertical-field" 
	data-signal-error-for="ip{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="ip" data-fieldname="ip" >

	<label class="r-edit-label control-label" for="{$labelfor_ip}">
		{BEGIN ip_label}{$label project_audit ip }{END ip_label}
	</label>
	<div class="r-edit-field">
		{$ip_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="ip">
		<div class="text-muted" >
		{$tooltip project_audit ip }		</div>
	</div>
</div>


{END ip_fieldblock}
											
{BEGIN user_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_user}  r-vertical-field" 
	data-signal-error-for="user{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="user" data-fieldname="user" >

	<label class="r-edit-label control-label" for="{$labelfor_user}">
		{BEGIN user_label}{$label project_audit user }{END user_label}
	</label>
	<div class="r-edit-field">
		{$user_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="user">
		<div class="text-muted" >
		{$tooltip project_audit user }		</div>
	</div>
</div>


{END user_fieldblock}
											
{BEGIN table_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_table}  r-vertical-field" 
	data-signal-error-for="table{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="table" data-fieldname="table" >

	<label class="r-edit-label control-label" for="{$labelfor_table}">
		{BEGIN table_label}{$label project_audit table }{END table_label}
	</label>
	<div class="r-edit-field">
		{$table_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="table">
		<div class="text-muted" >
		{$tooltip project_audit table }		</div>
	</div>
</div>


{END table_fieldblock}
											
{BEGIN action_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_action}  r-vertical-field" 
	data-signal-error-for="action{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="action" data-fieldname="action" >

	<label class="r-edit-label control-label" for="{$labelfor_action}">
		{BEGIN action_label}{$label project_audit action }{END action_label}
	</label>
	<div class="r-edit-field">
		{$action_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="action">
		<div class="text-muted" >
		{$tooltip project_audit action }		</div>
	</div>
</div>


{END action_fieldblock}
											
{BEGIN description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-vertical-field" 
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="description" data-fieldname="description" >

	<label class="r-edit-label control-label" for="{$labelfor_description}">
		{BEGIN description_label}{$label project_audit description }{END description_label}
	</label>
	<div class="r-edit-field">
		{$description_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="description">
		<div class="text-muted" >
		{$tooltip project_audit description }		</div>
	</div>
</div>


{END description_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
