<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="edit_header" data-itemid="edit_header" {$item_edit_header} data-pageid="{$pageid}" >{$pagetitlelabel researchScholarshipProposal edit}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<div data-itemtype="edit_message" data-itemid="edit_message" {$item_edit_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
			<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
		<a class="btn btn-sm btn-default" href="" {$view_page_button_attrs}>{mlang_message VIEW}</a>
{END view_page_button}
</div>
</div>
	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="5"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN researchRegisterID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchRegisterID}  r-vertical-field" 
	data-signal-error-for="researchRegisterID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="researchRegisterID" data-fieldname="researchRegisterID" >

	<label class="r-edit-label control-label" for="{$labelfor_researchRegisterID}">
		{BEGIN researchRegisterID_label}{$label researchScholarshipProposal researchRegisterID }{END researchRegisterID_label}
	</label>
	<div class="r-edit-field">
		{$researchRegisterID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchRegisterID">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchRegisterID }		</div>
	</div>
</div>


{END researchRegisterID_fieldblock}
											
{BEGIN researchProjectNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNo}  r-vertical-field" 
	data-signal-error-for="researchProjectNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="researchProjectNo" data-fieldname="researchProjectNo" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNo}">
		{BEGIN researchProjectNo_label}{$label researchScholarshipProposal researchProjectNo }{END researchProjectNo_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNo">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectNo }		</div>
	</div>
</div>


{END researchProjectNo_fieldblock}
											
{BEGIN researchProjectNameThai_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNameThai}  r-vertical-field" 
	data-signal-error-for="researchProjectNameThai{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="researchProjectNameThai" data-fieldname="researchProjectNameThai" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNameThai}">
		{BEGIN researchProjectNameThai_label}{$label researchScholarshipProposal researchProjectNameThai }{END researchProjectNameThai_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNameThai_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNameThai">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectNameThai }		</div>
	</div>
</div>


{END researchProjectNameThai_fieldblock}
											
{BEGIN researchProjectNameEng_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNameEng}  r-vertical-field" 
	data-signal-error-for="researchProjectNameEng{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="researchProjectNameEng" data-fieldname="researchProjectNameEng" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNameEng}">
		{BEGIN researchProjectNameEng_label}{$label researchScholarshipProposal researchProjectNameEng }{END researchProjectNameEng_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNameEng_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNameEng">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectNameEng }		</div>
	</div>
</div>


{END researchProjectNameEng_fieldblock}
											
{BEGIN researchProjectBankAccountName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankAccountName}  r-vertical-field" 
	data-signal-error-for="researchProjectBankAccountName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="researchProjectBankAccountName" data-fieldname="researchProjectBankAccountName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankAccountName}">
		{BEGIN researchProjectBankAccountName_label}{$label researchScholarshipProposal researchProjectBankAccountName }{END researchProjectBankAccountName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankAccountName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankAccountName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectBankAccountName }		</div>
	</div>
</div>


{END researchProjectBankAccountName_fieldblock}
											
{BEGIN researchProjectBankName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankName}  r-vertical-field" 
	data-signal-error-for="researchProjectBankName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="researchProjectBankName" data-fieldname="researchProjectBankName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankName}">
		{BEGIN researchProjectBankName_label}{$label researchScholarshipProposal researchProjectBankName }{END researchProjectBankName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectBankName }		</div>
	</div>
</div>


{END researchProjectBankName_fieldblock}
											
{BEGIN researchProjectBankNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankNo}  r-vertical-field" 
	data-signal-error-for="researchProjectBankNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="researchProjectBankNo" data-fieldname="researchProjectBankNo" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankNo}">
		{BEGIN researchProjectBankNo_label}{$label researchScholarshipProposal researchProjectBankNo }{END researchProjectBankNo_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankNo">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectBankNo }		</div>
	</div>
</div>


{END researchProjectBankNo_fieldblock}
											
{BEGIN researchProjectStartDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectStartDate}  r-vertical-field" 
	data-signal-error-for="researchProjectStartDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field47" {$item_integrated_edit_field47} data-pageid="{$pageid}" data-field="researchProjectStartDate" data-fieldname="researchProjectStartDate" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectStartDate}">
		{BEGIN researchProjectStartDate_label}{$label researchScholarshipProposal researchProjectStartDate }{END researchProjectStartDate_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectStartDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectStartDate">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectStartDate }		</div>
	</div>
</div>


{END researchProjectStartDate_fieldblock}
											
{BEGIN researchProjectEndDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectEndDate}  r-vertical-field" 
	data-signal-error-for="researchProjectEndDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field48" {$item_integrated_edit_field48} data-pageid="{$pageid}" data-field="researchProjectEndDate" data-fieldname="researchProjectEndDate" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectEndDate}">
		{BEGIN researchProjectEndDate_label}{$label researchScholarshipProposal researchProjectEndDate }{END researchProjectEndDate_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectEndDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectEndDate">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectEndDate }		</div>
	</div>
</div>


{END researchProjectEndDate_fieldblock}
											 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section2" {$item_section2} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} data-toggle="collapse"   

				href="#section1{$pageid}" aria-expanded="true" aria-controls="section1"

		>
		  <h4 class="panel-title">
			<a role="button" >
				สถานที่			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section2_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section2" id="form_section2_{$pageid}" data-makeup="small" {$form_section2} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section2_0} >
										

{BEGIN cellblock_section2_c1}
<td
	{$cell_section2_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section2_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN geographiesID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_geographiesID}  r-vertical-field" 
	data-signal-error-for="geographiesID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="geographiesID" data-fieldname="geographiesID" >

	<label class="r-edit-label control-label" for="{$labelfor_geographiesID}">
		{BEGIN geographiesID_label}{$label researchScholarshipProposal geographiesID }{END geographiesID_label}
	</label>
	<div class="r-edit-field">
		{$geographiesID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="geographiesID">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal geographiesID }		</div>
	</div>
</div>


{END geographiesID_fieldblock}
											
{BEGIN provincesID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_provincesID}  r-vertical-field" 
	data-signal-error-for="provincesID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="provincesID" data-fieldname="provincesID" >

	<label class="r-edit-label control-label" for="{$labelfor_provincesID}">
		{BEGIN provincesID_label}{$label researchScholarshipProposal provincesID }{END provincesID_label}
	</label>
	<div class="r-edit-field">
		{$provincesID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="provincesID">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal provincesID }		</div>
	</div>
</div>


{END provincesID_fieldblock}
											
{BEGIN amphuresID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_amphuresID}  r-vertical-field" 
	data-signal-error-for="amphuresID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="amphuresID" data-fieldname="amphuresID" >

	<label class="r-edit-label control-label" for="{$labelfor_amphuresID}">
		{BEGIN amphuresID_label}{$label researchScholarshipProposal amphuresID }{END amphuresID_label}
	</label>
	<div class="r-edit-field">
		{$amphuresID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="amphuresID">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal amphuresID }		</div>
	</div>
</div>


{END amphuresID_fieldblock}
											
{BEGIN districtsID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_districtsID}  r-vertical-field" 
	data-signal-error-for="districtsID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="districtsID" data-fieldname="districtsID" >

	<label class="r-edit-label control-label" for="{$labelfor_districtsID}">
		{BEGIN districtsID_label}{$label researchScholarshipProposal districtsID }{END districtsID_label}
	</label>
	<div class="r-edit-field">
		{$districtsID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="districtsID">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal districtsID }		</div>
	</div>
</div>


{END districtsID_fieldblock}
	
								</td>
			{END cellblock_section2_c1}
								</tr>
			</tbody></table>
{END section2_block}
		  </div>
		</div>
	</div>
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}" data-page="researchscholarshipproposal_edit"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN researchProjectPeriodYear_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectPeriodYear}  r-vertical-field" 
	data-signal-error-for="researchProjectPeriodYear{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="researchProjectPeriodYear" data-fieldname="researchProjectPeriodYear" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectPeriodYear}">
		{BEGIN researchProjectPeriodYear_label}{$label researchScholarshipProposal researchProjectPeriodYear }{END researchProjectPeriodYear_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectPeriodYear_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectPeriodYear">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectPeriodYear }		</div>
	</div>
</div>


{END researchProjectPeriodYear_fieldblock}
											
{BEGIN researchProjectPeriodMonth_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectPeriodMonth}  r-vertical-field" 
	data-signal-error-for="researchProjectPeriodMonth{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="researchProjectPeriodMonth" data-fieldname="researchProjectPeriodMonth" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectPeriodMonth}">
		{BEGIN researchProjectPeriodMonth_label}{$label researchScholarshipProposal researchProjectPeriodMonth }{END researchProjectPeriodMonth_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectPeriodMonth_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectPeriodMonth">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectPeriodMonth }		</div>
	</div>
</div>


{END researchProjectPeriodMonth_fieldblock}
											
{BEGIN researchProjectRequestedBudget_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectRequestedBudget}  r-vertical-field" 
	data-signal-error-for="researchProjectRequestedBudget{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="researchProjectRequestedBudget" data-fieldname="researchProjectRequestedBudget" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectRequestedBudget}">
		{BEGIN researchProjectRequestedBudget_label}{$label researchScholarshipProposal researchProjectRequestedBudget }{END researchProjectRequestedBudget_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectRequestedBudget_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectRequestedBudget">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectRequestedBudget }		</div>
	</div>
</div>


{END researchProjectRequestedBudget_fieldblock}
											
{BEGIN researchProjectDepartment_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectDepartment}  r-vertical-field" 
	data-signal-error-for="researchProjectDepartment{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="researchProjectDepartment" data-fieldname="researchProjectDepartment" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectDepartment}">
		{BEGIN researchProjectDepartment_label}{$label researchScholarshipProposal researchProjectDepartment }{END researchProjectDepartment_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectDepartment_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectDepartment">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectDepartment }		</div>
	</div>
</div>


{END researchProjectDepartment_fieldblock}
											
{BEGIN researchProjectMainField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectMainField}  r-vertical-field" 
	data-signal-error-for="researchProjectMainField{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="researchProjectMainField" data-fieldname="researchProjectMainField" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectMainField}">
		{BEGIN researchProjectMainField_label}{$label researchScholarshipProposal researchProjectMainField }{END researchProjectMainField_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectMainField_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectMainField">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectMainField }		</div>
	</div>
</div>


{END researchProjectMainField_fieldblock}
											
{BEGIN researchProjectSubField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectSubField}  r-vertical-field" 
	data-signal-error-for="researchProjectSubField{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="researchProjectSubField" data-fieldname="researchProjectSubField" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectSubField}">
		{BEGIN researchProjectSubField_label}{$label researchScholarshipProposal researchProjectSubField }{END researchProjectSubField_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectSubField_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectSubField">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectSubField }		</div>
	</div>
</div>


{END researchProjectSubField_fieldblock}
											
{BEGIN researchProjectFile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectFile}  r-vertical-field" 
	data-signal-error-for="researchProjectFile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="researchProjectFile" data-fieldname="researchProjectFile" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectFile}">
		{BEGIN researchProjectFile_label}{$label researchScholarshipProposal researchProjectFile }{END researchProjectFile_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectFile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectFile">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectFile }		</div>
	</div>
</div>


{END researchProjectFile_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c10}
<td
	{$cell_grid_c10}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c10" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section5" {$item_section5} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section2_headattrs} data-toggle="collapse"   

				href="#section2{$pageid}" aria-expanded="true" aria-controls="section2"

		>
		  <h4 class="panel-title">
			<a role="button" >
				ลงนามในสัญญา			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section2_xtrclass}" role="tabpanel"  {$section_section2_attrs}

				id="section2{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section5_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section5" id="form_section5_{$pageid}" data-makeup="small" {$form_section5} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section5_0} >
										

{BEGIN cellblock_section5_c1}
<td
	{$cell_section5_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section5_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN contractSignDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractSignDate}  r-vertical-field" 
	data-signal-error-for="contractSignDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field49" {$item_integrated_edit_field49} data-pageid="{$pageid}" data-field="contractSignDate" data-fieldname="contractSignDate" >

	<label class="r-edit-label control-label" for="{$labelfor_contractSignDate}">
		{BEGIN contractSignDate_label}{$label researchScholarshipProposal contractSignDate }{END contractSignDate_label}
	</label>
	<div class="r-edit-field">
		{$contractSignDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contractSignDate">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal contractSignDate }		</div>
	</div>
</div>


{END contractSignDate_fieldblock}
											
{BEGIN contractSignFile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_contractSignFile}  r-vertical-field" 
	data-signal-error-for="contractSignFile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field50" {$item_integrated_edit_field50} data-pageid="{$pageid}" data-field="contractSignFile" data-fieldname="contractSignFile" >

	<label class="r-edit-label control-label" for="{$labelfor_contractSignFile}">
		{BEGIN contractSignFile_label}{$label researchScholarshipProposal contractSignFile }{END contractSignFile_label}
	</label>
	<div class="r-edit-field">
		{$contractSignFile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="contractSignFile">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal contractSignFile }		</div>
	</div>
</div>


{END contractSignFile_fieldblock}
	
								</td>
			{END cellblock_section5_c1}
								</tr>
			</tbody></table>
{END section5_block}
		  </div>
		</div>
	</div>
	
								</td>
			{END cellblock_grid_c10}
			 
		
							

{BEGIN cellblock_grid_c11}
<td
	{$cell_grid_c11}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c11" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c11}
			 
																

{BEGIN cellblock_grid_c12}
<td
	{$cell_grid_c12}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c12" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section1" {$item_section1} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section3_headattrs} data-toggle="collapse"   

				href="#section3{$pageid}" aria-expanded="true" aria-controls="section3"

		>
		  <h4 class="panel-title">
			<a role="button" >
				สถานะโครงการ			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section3_xtrclass}" role="tabpanel"  {$section_section3_attrs}

				id="section3{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section1_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section1" id="form_section1_{$pageid}" data-makeup="small" {$form_section1} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section1_0} >
										

{BEGIN cellblock_section1_c1}
<td
	{$cell_section1_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section1_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN projectStatusDesc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_projectStatusDesc}  r-vertical-field" 
	data-signal-error-for="projectStatusDesc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="projectStatusDesc" data-fieldname="projectStatusDesc" >

	<label class="r-edit-label control-label" for="{$labelfor_projectStatusDesc}">
		{BEGIN projectStatusDesc_label}{$label researchScholarshipProposal projectStatusDesc }{END projectStatusDesc_label}
	</label>
	<div class="r-edit-field">
		{$projectStatusDesc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="projectStatusDesc">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal projectStatusDesc }		</div>
	</div>
</div>


{END projectStatusDesc_fieldblock}
											
{BEGIN projectStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_projectStatus}  r-vertical-field" 
	data-signal-error-for="projectStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="projectStatus" data-fieldname="projectStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_projectStatus}">
		{BEGIN projectStatus_label}{$label researchScholarshipProposal projectStatus }{END projectStatus_label}
	</label>
	<div class="r-edit-field">
		{$projectStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="projectStatus">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal projectStatus }		</div>
	</div>
</div>


{END projectStatus_fieldblock}
	
								</td>
			{END cellblock_section1_c1}
								</tr>
			</tbody></table>
{END section1_block}
		  </div>
		</div>
	</div>
	
								</td>
			{END cellblock_grid_c12}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN entryUserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-vertical-field" 
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >

	<label class="r-edit-label control-label" for="{$labelfor_entryUserName}">
		{BEGIN entryUserName_label}{$label researchScholarshipProposal entryUserName }{END entryUserName_label}
	</label>
	<div class="r-edit-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryUserName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal entryUserName }		</div>
	</div>
</div>


{END entryUserName_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
			 
		
							

{BEGIN cellblock_grid_c6}
<td
	{$cell_grid_c6}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c6" data-pageid="{$pageid}"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c6}
			 
																

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN entryTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-vertical-field" 
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >

	<label class="r-edit-label control-label" for="{$labelfor_entryTime}">
		{BEGIN entryTime_label}{$label researchScholarshipProposal entryTime }{END entryTime_label}
	</label>
	<div class="r-edit-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryTime">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal entryTime }		</div>
	</div>
</div>


{END entryTime_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
																</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}">
		<div class="panel-heading" role="tab" {$section_section4_headattrs} data-toggle="collapse"   

				href="#section4{$pageid}" aria-expanded="true" aria-controls="section4"

		>
		  <h4 class="panel-title">
			<a role="button" >
				หัวหน้าโครงการ			</a>
		  </h4>
		</div>
		<div  class="panel-collapse collapse in {$section_section4_xtrclass}" role="tabpanel"  {$section_section4_attrs}

				id="section4{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												<table 
	data-body-align="center"
	data-location="section" id="form_section_{$pageid}" data-makeup="small" {$form_section} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_section_0} >
										

{BEGIN cellblock_section_c1}
<td
	{$cell_section_c1}
	class=" r-ori-vert"
	
			
			data-cellId="section_c1" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN researchProjectAffiliationPrefixName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationPrefixName}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationPrefixName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="researchProjectAffiliationPrefixName" data-fieldname="researchProjectAffiliationPrefixName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationPrefixName}">
		{BEGIN researchProjectAffiliationPrefixName_label}{$label researchScholarshipProposal researchProjectAffiliationPrefixName }{END researchProjectAffiliationPrefixName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationPrefixName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationPrefixName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationPrefixName }		</div>
	</div>
</div>


{END researchProjectAffiliationPrefixName_fieldblock}
											
{BEGIN researchProjectHeadName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectHeadName}  r-vertical-field" 
	data-signal-error-for="researchProjectHeadName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="researchProjectHeadName" data-fieldname="researchProjectHeadName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectHeadName}">
		{BEGIN researchProjectHeadName_label}{$label researchScholarshipProposal researchProjectHeadName }{END researchProjectHeadName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectHeadName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectHeadName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectHeadName }		</div>
	</div>
</div>


{END researchProjectHeadName_fieldblock}
											
{BEGIN researchProjectAffiliationPosition_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationPosition}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationPosition{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="researchProjectAffiliationPosition" data-fieldname="researchProjectAffiliationPosition" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationPosition}">
		{BEGIN researchProjectAffiliationPosition_label}{$label researchScholarshipProposal researchProjectAffiliationPosition }{END researchProjectAffiliationPosition_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationPosition_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationPosition">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationPosition }		</div>
	</div>
</div>


{END researchProjectAffiliationPosition_fieldblock}
											
{BEGIN researchProjectAffiliationName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationName}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="researchProjectAffiliationName" data-fieldname="researchProjectAffiliationName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationName}">
		{BEGIN researchProjectAffiliationName_label}{$label researchScholarshipProposal researchProjectAffiliationName }{END researchProjectAffiliationName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationName }		</div>
	</div>
</div>


{END researchProjectAffiliationName_fieldblock}
	
								</td>
			{END cellblock_section_c1}
			 
																

{BEGIN cellblock_section_c}
<td
	{$cell_section_c}
	class=" r-ori-vert"
	
			
			data-cellId="section_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN researchProjectSubAffiliationName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectSubAffiliationName}  r-vertical-field" 
	data-signal-error-for="researchProjectSubAffiliationName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="researchProjectSubAffiliationName" data-fieldname="researchProjectSubAffiliationName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectSubAffiliationName}">
		{BEGIN researchProjectSubAffiliationName_label}{$label researchScholarshipProposal researchProjectSubAffiliationName }{END researchProjectSubAffiliationName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectSubAffiliationName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectSubAffiliationName">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectSubAffiliationName }		</div>
	</div>
</div>


{END researchProjectSubAffiliationName_fieldblock}
											
{BEGIN researchProjectAffiliationMobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationMobile}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationMobile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="researchProjectAffiliationMobile" data-fieldname="researchProjectAffiliationMobile" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationMobile}">
		{BEGIN researchProjectAffiliationMobile_label}{$label researchScholarshipProposal researchProjectAffiliationMobile }{END researchProjectAffiliationMobile_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationMobile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationMobile">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationMobile }		</div>
	</div>
</div>


{END researchProjectAffiliationMobile_fieldblock}
											
{BEGIN researchProjectAffiliationTelephone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationTelephone}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationTelephone{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="researchProjectAffiliationTelephone" data-fieldname="researchProjectAffiliationTelephone" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationTelephone}">
		{BEGIN researchProjectAffiliationTelephone_label}{$label researchScholarshipProposal researchProjectAffiliationTelephone }{END researchProjectAffiliationTelephone_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationTelephone_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationTelephone">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationTelephone }		</div>
	</div>
</div>


{END researchProjectAffiliationTelephone_fieldblock}
											
{BEGIN researchProjectAffiliationEmail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationEmail}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationEmail{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="researchProjectAffiliationEmail" data-fieldname="researchProjectAffiliationEmail" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationEmail}">
		{BEGIN researchProjectAffiliationEmail_label}{$label researchScholarshipProposal researchProjectAffiliationEmail }{END researchProjectAffiliationEmail_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationEmail_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationEmail">
		<div class="text-muted" >
		{$tooltip researchScholarshipProposal researchProjectAffiliationEmail }		</div>
	</div>
</div>


{END researchProjectAffiliationEmail_fieldblock}
	
								</td>
			{END cellblock_section_c}
								</tr>
			</tbody></table>
{END section_block}
		  </div>
		</div>
	</div>
											
{BEGIN details_researcher}
<div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researcher }				
							<span>
					{$detailslButtons_researcher}
																																										</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researcher}
		</div>
	</div>
</div>
{END details_researcher}
											
{BEGIN details_researchoperatingperiod}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchOperatingPeriod }				
							<span>
					{$detailslButtons_researchoperatingperiod}
																																										</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchoperatingperiod}
		</div>
	</div>
</div>
{END details_researchoperatingperiod}
											
{BEGIN details_researchscholarshipconsider}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchScholarshipConsider }				
							<span>
					{$detailslButtons_researchscholarshipconsider}
																																										</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchscholarshipconsider}
		</div>
	</div>
</div>
{END details_researchscholarshipconsider}
	
				 
	 
		
					<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="3"
		
		data-v-width="5"
	>
	<tbody>
						<tr>
						

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
	ocolspan="3"		data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="5"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c9}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="5"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN save_edit}
<span data-itemtype="edit_save" data-itemid="edit_save" {$item_edit_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
{END save_edit}
	 
		{BEGIN back_button}
<span data-itemtype="edit_back_list" data-itemid="edit_back_list" {$item_edit_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="edit_close" data-itemid="edit_close" {$item_edit_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$closebutton_attrs} >
							{mlang_message CANCEL}			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-menu-hamburger"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="edit_reset" data-itemid="edit_reset" {$item_edit_reset} data-pageid="{$pageid}" data-small >
				<a  {$resetbutton_attrs}  title="" >
				
		{mlang_message RESET}		
		</a>
	</li>
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
