<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel researchProjectProposal add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN researchRegisterID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchRegisterID}  r-vertical-field" 
	data-signal-error-for="researchRegisterID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="researchRegisterID" data-fieldname="researchRegisterID" >

	<label class="r-edit-label control-label" for="{$labelfor_researchRegisterID}">
		{BEGIN researchRegisterID_label}{$label researchProjectProposal researchRegisterID }{END researchRegisterID_label}
	</label>
	<div class="r-edit-field">
		{$researchRegisterID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchRegisterID">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchRegisterID }		</div>
	</div>
</div>


{END researchRegisterID_fieldblock}
											
{BEGIN researchProjectNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNo}  r-vertical-field" 
	data-signal-error-for="researchProjectNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="researchProjectNo" data-fieldname="researchProjectNo" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNo}">
		{BEGIN researchProjectNo_label}{$label researchProjectProposal researchProjectNo }{END researchProjectNo_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNo">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectNo }		</div>
	</div>
</div>


{END researchProjectNo_fieldblock}
											
{BEGIN researchProjectGroupName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectGroupName}  r-vertical-field" 
	data-signal-error-for="researchProjectGroupName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="researchProjectGroupName" data-fieldname="researchProjectGroupName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectGroupName}">
		{BEGIN researchProjectGroupName_label}{$label researchProjectProposal researchProjectGroupName }{END researchProjectGroupName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectGroupName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectGroupName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectGroupName }		</div>
	</div>
</div>


{END researchProjectGroupName_fieldblock}
											
{BEGIN researchProjectNameThai_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNameThai}  r-vertical-field" 
	data-signal-error-for="researchProjectNameThai{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="researchProjectNameThai" data-fieldname="researchProjectNameThai" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNameThai}">
		{BEGIN researchProjectNameThai_label}{$label researchProjectProposal researchProjectNameThai }{END researchProjectNameThai_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNameThai_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNameThai">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectNameThai }		</div>
	</div>
</div>


{END researchProjectNameThai_fieldblock}
											
{BEGIN researchProjectNameEng_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectNameEng}  r-vertical-field" 
	data-signal-error-for="researchProjectNameEng{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="researchProjectNameEng" data-fieldname="researchProjectNameEng" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectNameEng}">
		{BEGIN researchProjectNameEng_label}{$label researchProjectProposal researchProjectNameEng }{END researchProjectNameEng_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectNameEng_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectNameEng">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectNameEng }		</div>
	</div>
</div>


{END researchProjectNameEng_fieldblock}
											
{BEGIN researchProjectPeriodYear_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectPeriodYear}  r-vertical-field" 
	data-signal-error-for="researchProjectPeriodYear{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="researchProjectPeriodYear" data-fieldname="researchProjectPeriodYear" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectPeriodYear}">
		{BEGIN researchProjectPeriodYear_label}{$label researchProjectProposal researchProjectPeriodYear }{END researchProjectPeriodYear_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectPeriodYear_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectPeriodYear">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectPeriodYear }		</div>
	</div>
</div>


{END researchProjectPeriodYear_fieldblock}
											
{BEGIN researchProjectPeriodMonth_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectPeriodMonth}  r-vertical-field" 
	data-signal-error-for="researchProjectPeriodMonth{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="researchProjectPeriodMonth" data-fieldname="researchProjectPeriodMonth" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectPeriodMonth}">
		{BEGIN researchProjectPeriodMonth_label}{$label researchProjectProposal researchProjectPeriodMonth }{END researchProjectPeriodMonth_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectPeriodMonth_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectPeriodMonth">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectPeriodMonth }		</div>
	</div>
</div>


{END researchProjectPeriodMonth_fieldblock}
											
{BEGIN researchProjectRequestedBudget_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectRequestedBudget}  r-vertical-field" 
	data-signal-error-for="researchProjectRequestedBudget{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="researchProjectRequestedBudget" data-fieldname="researchProjectRequestedBudget" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectRequestedBudget}">
		{BEGIN researchProjectRequestedBudget_label}{$label researchProjectProposal researchProjectRequestedBudget }{END researchProjectRequestedBudget_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectRequestedBudget_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectRequestedBudget">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectRequestedBudget }		</div>
	</div>
</div>


{END researchProjectRequestedBudget_fieldblock}
											
{BEGIN researchProjectDepartment_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectDepartment}  r-vertical-field" 
	data-signal-error-for="researchProjectDepartment{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="researchProjectDepartment" data-fieldname="researchProjectDepartment" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectDepartment}">
		{BEGIN researchProjectDepartment_label}{$label researchProjectProposal researchProjectDepartment }{END researchProjectDepartment_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectDepartment_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectDepartment">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectDepartment }		</div>
	</div>
</div>


{END researchProjectDepartment_fieldblock}
											
{BEGIN researchProjectMainField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectMainField}  r-vertical-field" 
	data-signal-error-for="researchProjectMainField{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="researchProjectMainField" data-fieldname="researchProjectMainField" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectMainField}">
		{BEGIN researchProjectMainField_label}{$label researchProjectProposal researchProjectMainField }{END researchProjectMainField_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectMainField_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectMainField">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectMainField }		</div>
	</div>
</div>


{END researchProjectMainField_fieldblock}
											
{BEGIN researchProjectSubField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectSubField}  r-vertical-field" 
	data-signal-error-for="researchProjectSubField{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="researchProjectSubField" data-fieldname="researchProjectSubField" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectSubField}">
		{BEGIN researchProjectSubField_label}{$label researchProjectProposal researchProjectSubField }{END researchProjectSubField_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectSubField_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectSubField">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectSubField }		</div>
	</div>
</div>


{END researchProjectSubField_fieldblock}
											
{BEGIN researchProjectHeadName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectHeadName}  r-vertical-field" 
	data-signal-error-for="researchProjectHeadName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="researchProjectHeadName" data-fieldname="researchProjectHeadName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectHeadName}">
		{BEGIN researchProjectHeadName_label}{$label researchProjectProposal researchProjectHeadName }{END researchProjectHeadName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectHeadName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectHeadName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectHeadName }		</div>
	</div>
</div>


{END researchProjectHeadName_fieldblock}
											
{BEGIN researchProjectAffiliationName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationName}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="researchProjectAffiliationName" data-fieldname="researchProjectAffiliationName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationName}">
		{BEGIN researchProjectAffiliationName_label}{$label researchProjectProposal researchProjectAffiliationName }{END researchProjectAffiliationName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectAffiliationName }		</div>
	</div>
</div>


{END researchProjectAffiliationName_fieldblock}
											
{BEGIN researchProjectSubAffiliationName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectSubAffiliationName}  r-vertical-field" 
	data-signal-error-for="researchProjectSubAffiliationName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="researchProjectSubAffiliationName" data-fieldname="researchProjectSubAffiliationName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectSubAffiliationName}">
		{BEGIN researchProjectSubAffiliationName_label}{$label researchProjectProposal researchProjectSubAffiliationName }{END researchProjectSubAffiliationName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectSubAffiliationName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectSubAffiliationName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectSubAffiliationName }		</div>
	</div>
</div>


{END researchProjectSubAffiliationName_fieldblock}
											
{BEGIN researchProjectAffiliationMobile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationMobile}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationMobile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="researchProjectAffiliationMobile" data-fieldname="researchProjectAffiliationMobile" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationMobile}">
		{BEGIN researchProjectAffiliationMobile_label}{$label researchProjectProposal researchProjectAffiliationMobile }{END researchProjectAffiliationMobile_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationMobile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationMobile">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectAffiliationMobile }		</div>
	</div>
</div>


{END researchProjectAffiliationMobile_fieldblock}
											
{BEGIN researchProjectAffiliationTelephone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationTelephone}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationTelephone{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="researchProjectAffiliationTelephone" data-fieldname="researchProjectAffiliationTelephone" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationTelephone}">
		{BEGIN researchProjectAffiliationTelephone_label}{$label researchProjectProposal researchProjectAffiliationTelephone }{END researchProjectAffiliationTelephone_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationTelephone_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationTelephone">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectAffiliationTelephone }		</div>
	</div>
</div>


{END researchProjectAffiliationTelephone_fieldblock}
											
{BEGIN researchProjectAffiliationEmail_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectAffiliationEmail}  r-vertical-field" 
	data-signal-error-for="researchProjectAffiliationEmail{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="researchProjectAffiliationEmail" data-fieldname="researchProjectAffiliationEmail" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectAffiliationEmail}">
		{BEGIN researchProjectAffiliationEmail_label}{$label researchProjectProposal researchProjectAffiliationEmail }{END researchProjectAffiliationEmail_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectAffiliationEmail_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectAffiliationEmail">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectAffiliationEmail }		</div>
	</div>
</div>


{END researchProjectAffiliationEmail_fieldblock}
											
{BEGIN researchProjectFile_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectFile}  r-vertical-field" 
	data-signal-error-for="researchProjectFile{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="researchProjectFile" data-fieldname="researchProjectFile" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectFile}">
		{BEGIN researchProjectFile_label}{$label researchProjectProposal researchProjectFile }{END researchProjectFile_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectFile_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectFile">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectFile }		</div>
	</div>
</div>


{END researchProjectFile_fieldblock}
											
{BEGIN researchProjectBankAccountName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankAccountName}  r-vertical-field" 
	data-signal-error-for="researchProjectBankAccountName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="researchProjectBankAccountName" data-fieldname="researchProjectBankAccountName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankAccountName}">
		{BEGIN researchProjectBankAccountName_label}{$label researchProjectProposal researchProjectBankAccountName }{END researchProjectBankAccountName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankAccountName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankAccountName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectBankAccountName }		</div>
	</div>
</div>


{END researchProjectBankAccountName_fieldblock}
											
{BEGIN researchProjectBankNo_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankNo}  r-vertical-field" 
	data-signal-error-for="researchProjectBankNo{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="researchProjectBankNo" data-fieldname="researchProjectBankNo" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankNo}">
		{BEGIN researchProjectBankNo_label}{$label researchProjectProposal researchProjectBankNo }{END researchProjectBankNo_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankNo_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankNo">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectBankNo }		</div>
	</div>
</div>


{END researchProjectBankNo_fieldblock}
											
{BEGIN researchProjectBankName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectBankName}  r-vertical-field" 
	data-signal-error-for="researchProjectBankName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="researchProjectBankName" data-fieldname="researchProjectBankName" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectBankName}">
		{BEGIN researchProjectBankName_label}{$label researchProjectProposal researchProjectBankName }{END researchProjectBankName_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectBankName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectBankName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectBankName }		</div>
	</div>
</div>


{END researchProjectBankName_fieldblock}
											
{BEGIN researchProjectStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_researchProjectStatus}  r-vertical-field" 
	data-signal-error-for="researchProjectStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="researchProjectStatus" data-fieldname="researchProjectStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_researchProjectStatus}">
		{BEGIN researchProjectStatus_label}{$label researchProjectProposal researchProjectStatus }{END researchProjectStatus_label}
	</label>
	<div class="r-edit-field">
		{$researchProjectStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="researchProjectStatus">
		<div class="text-muted" >
		{$tooltip researchProjectProposal researchProjectStatus }		</div>
	</div>
</div>


{END researchProjectStatus_fieldblock}
											
{BEGIN entryUserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-vertical-field" 
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >

	<label class="r-edit-label control-label" for="{$labelfor_entryUserName}">
		{BEGIN entryUserName_label}{$label researchProjectProposal entryUserName }{END entryUserName_label}
	</label>
	<div class="r-edit-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryUserName">
		<div class="text-muted" >
		{$tooltip researchProjectProposal entryUserName }		</div>
	</div>
</div>


{END entryUserName_fieldblock}
											
{BEGIN entryTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-vertical-field" 
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >

	<label class="r-edit-label control-label" for="{$labelfor_entryTime}">
		{BEGIN entryTime_label}{$label researchProjectProposal entryTime }{END entryTime_label}
	</label>
	<div class="r-edit-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryTime">
		<div class="text-muted" >
		{$tooltip researchProjectProposal entryTime }		</div>
	</div>
</div>


{END entryTime_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_researchoperatingperiod}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchOperatingPeriod }				
							<span>
					{$detailslButtons_researchoperatingperiod}
																																																																</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchoperatingperiod}
		</div>
	</div>
</div>
{END details_researchoperatingperiod}
											
{BEGIN details_researchdisburse}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchDisburse }				
							<span>
					{$detailslButtons_researchdisburse}
																																																																</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchdisburse}
		</div>
	</div>
</div>
{END details_researchdisburse}
											
{BEGIN details_researchappointment}
<div data-itemtype="details_preview" data-itemid="details_preview2" {$item_details_preview2} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchAppointment }				
							<span>
					{$detailslButtons_researchappointment}
																																																																</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchappointment}
		</div>
	</div>
</div>
{END details_researchappointment}
											
{BEGIN details_researchrenewal}
<div data-itemtype="details_preview" data-itemid="details_preview3" {$item_details_preview3} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchRenewal }				
							<span>
					{$detailslButtons_researchrenewal}
																																																																</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchrenewal}
		</div>
	</div>
</div>
{END details_researchrenewal}
											
{BEGIN details_researchperiod}
<div data-itemtype="details_preview" data-itemid="details_preview4" {$item_details_preview4} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption researchPeriod }				
							<span>
					{$detailslButtons_researchperiod}
																																																																</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_researchperiod}
		</div>
	</div>
</div>
{END details_researchperiod}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
