<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="full"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel projectType6 search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN projectName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_projectName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="projectName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="projectName" data-fieldname="projectName" >


	<label class="r-search-label control-label" for="{$labelfor_projectName}">
		{$label projectType6 projectName }	</label>
	<div class="r-search-option">
		{$searchtype_projectName}
	</div>
	<div class="r-search-field">
		{$projectName_editcontrol}	</div>
	<div class="r-search-field">
		{$projectName_editcontrol1}
	</div>
	
</div>

{END projectName_fieldblock}
											
{BEGIN projectStart_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_projectStart}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="projectStart{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="projectStart" data-fieldname="projectStart" >


	<label class="r-search-label control-label" for="{$labelfor_projectStart}">
		{$label projectType6 projectStart }	</label>
	<div class="r-search-option">
		{$searchtype_projectStart}
	</div>
	<div class="r-search-field">
		{$projectStart_editcontrol}	</div>
	<div class="r-search-field">
		{$projectStart_editcontrol1}
	</div>
	
</div>

{END projectStart_fieldblock}
											
{BEGIN projectEnd_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_projectEnd}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="projectEnd{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="projectEnd" data-fieldname="projectEnd" >


	<label class="r-search-label control-label" for="{$labelfor_projectEnd}">
		{$label projectType6 projectEnd }	</label>
	<div class="r-search-option">
		{$searchtype_projectEnd}
	</div>
	<div class="r-search-field">
		{$projectEnd_editcontrol}	</div>
	<div class="r-search-field">
		{$projectEnd_editcontrol1}
	</div>
	
</div>

{END projectEnd_fieldblock}
											
{BEGIN approveStatus_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_approveStatus}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="approveStatus{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="approveStatus" data-fieldname="approveStatus" >


	<label class="r-search-label control-label" for="{$labelfor_approveStatus}">
		{$label projectType6 approveStatus }	</label>
	<div class="r-search-option">
		{$searchtype_approveStatus}
	</div>
	<div class="r-search-field">
		{$approveStatus_editcontrol}	</div>
	<div class="r-search-field">
		{$approveStatus_editcontrol1}
	</div>
	
</div>

{END approveStatus_fieldblock}
											
{BEGIN approveDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_approveDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="approveDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="approveDate" data-fieldname="approveDate" >


	<label class="r-search-label control-label" for="{$labelfor_approveDate}">
		{$label projectType6 approveDate }	</label>
	<div class="r-search-option">
		{$searchtype_approveDate}
	</div>
	<div class="r-search-field">
		{$approveDate_editcontrol}	</div>
	<div class="r-search-field">
		{$approveDate_editcontrol1}
	</div>
	
</div>

{END approveDate_fieldblock}
											
{BEGIN DocumentCheckStatus_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentCheckStatus}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DocumentCheckStatus{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="DocumentCheckStatus" data-fieldname="DocumentCheckStatus" >


	<label class="r-search-label control-label" for="{$labelfor_DocumentCheckStatus}">
		{$label projectType6 DocumentCheckStatus }	</label>
	<div class="r-search-option">
		{$searchtype_DocumentCheckStatus}
	</div>
	<div class="r-search-field">
		{$DocumentCheckStatus_editcontrol}	</div>
	<div class="r-search-field">
		{$DocumentCheckStatus_editcontrol1}
	</div>
	
</div>

{END DocumentCheckStatus_fieldblock}
											
{BEGIN projectBudgetCost_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_projectBudgetCost}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="projectBudgetCost{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="projectBudgetCost" data-fieldname="projectBudgetCost" >


	<label class="r-search-label control-label" for="{$labelfor_projectBudgetCost}">
		{$label projectType6 projectBudgetCost }	</label>
	<div class="r-search-option">
		{$searchtype_projectBudgetCost}
	</div>
	<div class="r-search-field">
		{$projectBudgetCost_editcontrol}	</div>
	<div class="r-search-field">
		{$projectBudgetCost_editcontrol1}
	</div>
	
</div>

{END projectBudgetCost_fieldblock}
											
{BEGIN projectFile_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_projectFile}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="projectFile{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="projectFile" data-fieldname="projectFile" >


	<label class="r-search-label control-label" for="{$labelfor_projectFile}">
		{$label projectType6 projectFile }	</label>
	<div class="r-search-option">
		{$searchtype_projectFile}
	</div>
	<div class="r-search-field">
		{$projectFile_editcontrol}	</div>
	<div class="r-search-field">
		{$projectFile_editcontrol1}
	</div>
	
</div>

{END projectFile_fieldblock}
											
{BEGIN entryUserName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >


	<label class="r-search-label control-label" for="{$labelfor_entryUserName}">
		{$label projectType6 entryUserName }	</label>
	<div class="r-search-option">
		{$searchtype_entryUserName}
	</div>
	<div class="r-search-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-search-field">
		{$entryUserName_editcontrol1}
	</div>
	
</div>

{END entryUserName_fieldblock}
											
{BEGIN entryTime_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >


	<label class="r-search-label control-label" for="{$labelfor_entryTime}">
		{$label projectType6 entryTime }	</label>
	<div class="r-search-option">
		{$searchtype_entryTime}
	</div>
	<div class="r-search-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-search-field">
		{$entryTime_editcontrol1}
	</div>
	
</div>

{END entryTime_fieldblock}
											
{BEGIN screenDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_screenDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="screenDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="screenDate" data-fieldname="screenDate" >


	<label class="r-search-label control-label" for="{$labelfor_screenDate}">
		{$label projectType6 screenDate }	</label>
	<div class="r-search-option">
		{$searchtype_screenDate}
	</div>
	<div class="r-search-field">
		{$screenDate_editcontrol}	</div>
	<div class="r-search-field">
		{$screenDate_editcontrol1}
	</div>
	
</div>

{END screenDate_fieldblock}
											
{BEGIN screenStatus_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_screenStatus}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="screenStatus{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="screenStatus" data-fieldname="screenStatus" >


	<label class="r-search-label control-label" for="{$labelfor_screenStatus}">
		{$label projectType6 screenStatus }	</label>
	<div class="r-search-option">
		{$searchtype_screenStatus}
	</div>
	<div class="r-search-field">
		{$screenStatus_editcontrol}	</div>
	<div class="r-search-field">
		{$screenStatus_editcontrol1}
	</div>
	
</div>

{END screenStatus_fieldblock}
											
{BEGIN screenReason_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_screenReason}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="screenReason{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="screenReason" data-fieldname="screenReason" >


	<label class="r-search-label control-label" for="{$labelfor_screenReason}">
		{$label projectType6 screenReason }	</label>
	<div class="r-search-option">
		{$searchtype_screenReason}
	</div>
	<div class="r-search-field">
		{$screenReason_editcontrol}	</div>
	<div class="r-search-field">
		{$screenReason_editcontrol1}
	</div>
	
</div>

{END screenReason_fieldblock}
											
{BEGIN approveReason_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_approveReason}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="approveReason{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="approveReason" data-fieldname="approveReason" >


	<label class="r-search-label control-label" for="{$labelfor_approveReason}">
		{$label projectType6 approveReason }	</label>
	<div class="r-search-option">
		{$searchtype_approveReason}
	</div>
	<div class="r-search-field">
		{$approveReason_editcontrol}	</div>
	<div class="r-search-field">
		{$approveReason_editcontrol1}
	</div>
	
</div>

{END approveReason_fieldblock}
											
{BEGIN ProjectTypeName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ProjectTypeName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ProjectTypeName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="ProjectTypeName" data-fieldname="ProjectTypeName" >


	<label class="r-search-label control-label" for="{$labelfor_ProjectTypeName}">
		{$label projectType6 ProjectTypeName }	</label>
	<div class="r-search-option">
		{$searchtype_ProjectTypeName}
	</div>
	<div class="r-search-field">
		{$ProjectTypeName_editcontrol}	</div>
	<div class="r-search-field">
		{$ProjectTypeName_editcontrol1}
	</div>
	
</div>

{END ProjectTypeName_fieldblock}
											
{BEGIN companyName_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_companyName}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="companyName{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="companyName" data-fieldname="companyName" >


	<label class="r-search-label control-label" for="{$labelfor_companyName}">
		{$label projectType6 companyName }	</label>
	<div class="r-search-option">
		{$searchtype_companyName}
	</div>
	<div class="r-search-field">
		{$companyName_editcontrol}	</div>
	<div class="r-search-field">
		{$companyName_editcontrol1}
	</div>
	
</div>

{END companyName_fieldblock}
											
{BEGIN DocumentCheckDate_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentCheckDate}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DocumentCheckDate{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="DocumentCheckDate" data-fieldname="DocumentCheckDate" >


	<label class="r-search-label control-label" for="{$labelfor_DocumentCheckDate}">
		{$label projectType6 DocumentCheckDate }	</label>
	<div class="r-search-option">
		{$searchtype_DocumentCheckDate}
	</div>
	<div class="r-search-field">
		{$DocumentCheckDate_editcontrol}	</div>
	<div class="r-search-field">
		{$DocumentCheckDate_editcontrol1}
	</div>
	
</div>

{END DocumentCheckDate_fieldblock}
											
{BEGIN DocumentCheckReason_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DocumentCheckReason}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="DocumentCheckReason{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="DocumentCheckReason" data-fieldname="DocumentCheckReason" >


	<label class="r-search-label control-label" for="{$labelfor_DocumentCheckReason}">
		{$label projectType6 DocumentCheckReason }	</label>
	<div class="r-search-option">
		{$searchtype_DocumentCheckReason}
	</div>
	<div class="r-search-field">
		{$DocumentCheckReason_editcontrol}	</div>
	<div class="r-search-field">
		{$DocumentCheckReason_editcontrol1}
	</div>
	
</div>

{END DocumentCheckReason_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							{mlang_message SEARCH}			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
