<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="left"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="{mlang_message SHOW_ALL}">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN exportselected_link}
	<li data-itemtype="export_selected" data-itemid="export_selected" {$item_export_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportselectedlink_attrs} {$exportselectedlink_span}  title="" >
				
		{mlang_message EXPORT_SELECTED}		
		</a>
	</li>
{END exportselected_link}
							{BEGIN deleteselected_link}
	<li data-itemtype="delete_selected" data-itemid="delete_selected" {$item_delete_selected} data-pageid="{$pageid}" data-small >
				<a  href="#" {$deleteselectedlink_attrs} {$deleteselectedlink_span}  title="" >
				
		{mlang_message DELETE_SELECTED}		
		</a>
	</li>
{END deleteselected_link}
							<li role="separator" class="divider"></li>								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="taskrenewapprove_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		{mlang_message ADVANCED_SEARCH}		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		{mlang_message SHOW_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		{mlang_message HIDE_SEARCH_PANEL}		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export" data-itemid="export" {$item_export} data-pageid="{$pageid}" data-small >
				<a  href="#" {$exportlink_attrs}  title="" >
				
		{mlang_message EXPORT_RESULTS}		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>								{BEGIN EnglishLANGLINK}
	<li><a href="#" data-lang="English" class="rnr-langlink">
		{BEGIN EnglishLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END EnglishLANGLINK_ACTIVE}
		English</a></li>
	{END EnglishLANGLINK}
	{BEGIN ThaiLANGLINK}
	<li><a href="#" data-lang="Thai" class="rnr-langlink">
		{BEGIN ThaiLANGLINK_ACTIVE}<span class="glyphicon glyphicon-ok">&nbsp;</span>{END ThaiLANGLINK_ACTIVE}
		ไทย</a></li>
	{END ThaiLANGLINK}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							{mlang_message LOGIN}			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		{mlang_message USERINFO}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		{mlang_message LOG_OUT}		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		{mlang_message AA_ADMINAREA}		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		{mlang_message CHANGE_PASSWORD}		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="left"  data-body-width="full" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
								{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="topbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c3" data-pageid="{$pageid}"	{$cell_top_c3}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
					</div>
				<div class="r-content">
										<div class="r-left" {$blockattr_left} {$form_left} >
										{BEGIN left_block}
<table class="r-fluid r-form" data-location="left" id="form_left_{$pageid}" data-makeup="topbar" {$form_left} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_left_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="left_c1" data-pageid="{$pageid}">
 
<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle btn-sm )" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{mlang_message SEARCH_IN}			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>{mlang_message SEARCH_SHOW_OPTIONS_BUTTON}</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ALL_CONDITIONS}</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>{mlang_message SEARCH_ANY_CONDITIONS}</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>{mlang_message HIDE}</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_approveDate}


		<div class="form-group srchPanelRow {$filterRow_class_approveDate}" {$filterRow_attrs_approveDate}>
			<label>{$label taskRenewApprove approveDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_approveDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_approveDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_approveDate}</span>
						</div>
		{END searchCtrlBlock_approveDate}
																{BEGIN searchCtrlBlock_checkReason}


		<div class="form-group srchPanelRow {$filterRow_class_checkReason}" {$filterRow_attrs_checkReason}>
			<label>{$label taskRenewApprove checkReason }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_checkReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_checkReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_checkReason}</span>
						</div>
		{END searchCtrlBlock_checkReason}
																{BEGIN searchCtrlBlock_checkStatus}


		<div class="form-group srchPanelRow {$filterRow_class_checkStatus}" {$filterRow_attrs_checkStatus}>
			<label>{$label taskRenewApprove checkStatus }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_checkStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_checkStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_checkStatus}</span>
						</div>
		{END searchCtrlBlock_checkStatus}
																{BEGIN searchCtrlBlock_checkDate}


		<div class="form-group srchPanelRow {$filterRow_class_checkDate}" {$filterRow_attrs_checkDate}>
			<label>{$label taskRenewApprove checkDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_checkDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_checkDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_checkDate}</span>
						</div>
		{END searchCtrlBlock_checkDate}
																{BEGIN searchCtrlBlock_approveReason}


		<div class="form-group srchPanelRow {$filterRow_class_approveReason}" {$filterRow_attrs_approveReason}>
			<label>{$label taskRenewApprove approveReason }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_approveReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_approveReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_approveReason}</span>
						</div>
		{END searchCtrlBlock_approveReason}
																{BEGIN searchCtrlBlock_opinionReason}


		<div class="form-group srchPanelRow {$filterRow_class_opinionReason}" {$filterRow_attrs_opinionReason}>
			<label>{$label taskRenewApprove opinionReason }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_opinionReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_opinionReason}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_opinionReason}</span>
						</div>
		{END searchCtrlBlock_opinionReason}
																{BEGIN searchCtrlBlock_opinionStatus}


		<div class="form-group srchPanelRow {$filterRow_class_opinionStatus}" {$filterRow_attrs_opinionStatus}>
			<label>{$label taskRenewApprove opinionStatus }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_opinionStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_opinionStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_opinionStatus}</span>
						</div>
		{END searchCtrlBlock_opinionStatus}
																{BEGIN searchCtrlBlock_opinionDate}


		<div class="form-group srchPanelRow {$filterRow_class_opinionDate}" {$filterRow_attrs_opinionDate}>
			<label>{$label taskRenewApprove opinionDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_opinionDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_opinionDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_opinionDate}</span>
						</div>
		{END searchCtrlBlock_opinionDate}
																{BEGIN searchCtrlBlock_projectID}


		<div class="form-group srchPanelRow {$filterRow_class_projectID}" {$filterRow_attrs_projectID}>
			<label>{$label taskRenewApprove projectID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_projectID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_projectID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_projectID}</span>
						</div>
		{END searchCtrlBlock_projectID}
																{BEGIN searchCtrlBlock_renewDesc}


		<div class="form-group srchPanelRow {$filterRow_class_renewDesc}" {$filterRow_attrs_renewDesc}>
			<label>{$label taskRenewApprove renewDesc }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_renewDesc}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_renewDesc}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_renewDesc}</span>
						</div>
		{END searchCtrlBlock_renewDesc}
																{BEGIN searchCtrlBlock_renewDate}


		<div class="form-group srchPanelRow {$filterRow_class_renewDate}" {$filterRow_attrs_renewDate}>
			<label>{$label taskRenewApprove renewDate }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_renewDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_renewDate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_renewDate}</span>
						</div>
		{END searchCtrlBlock_renewDate}
																{BEGIN searchCtrlBlock_renewAttFille}


		<div class="form-group srchPanelRow {$filterRow_class_renewAttFille}" {$filterRow_attrs_renewAttFille}>
			<label>{$label taskRenewApprove renewAttFille }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_renewAttFille}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_renewAttFille}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_renewAttFille}</span>
						</div>
		{END searchCtrlBlock_renewAttFille}
																{BEGIN searchCtrlBlock_entryUserName}


		<div class="form-group srchPanelRow {$filterRow_class_entryUserName}" {$filterRow_attrs_entryUserName}>
			<label>{$label taskRenewApprove entryUserName }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_entryUserName}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_entryUserName}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_entryUserName}</span>
						</div>
		{END searchCtrlBlock_entryUserName}
																{BEGIN searchCtrlBlock_entryTime}


		<div class="form-group srchPanelRow {$filterRow_class_entryTime}" {$filterRow_attrs_entryTime}>
			<label>{$label taskRenewApprove entryTime }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_entryTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_entryTime}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_entryTime}</span>
						</div>
		{END searchCtrlBlock_entryTime}
																{BEGIN searchCtrlBlock_approveStatus}


		<div class="form-group srchPanelRow {$filterRow_class_approveStatus}" {$filterRow_attrs_approveStatus}>
			<label>{$label taskRenewApprove approveStatus }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_approveStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_approveStatus}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_approveStatus}</span>
						</div>
		{END searchCtrlBlock_approveStatus}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>{mlang_message SEARCH}</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>{mlang_message SHOW_ALL}</button>
	</div>
</div>
<!-- End Search panel content -->
</td>
							</tr>
					
					</tbody>
				</table>
{END left_block}
						</div>
										<div class="r-data-block" data-body-width="full" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN add_link}
<span data-itemtype="add" data-itemid="add" {$item_add} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$addlink_attrs} href="taskrenewapprove_add.php{$stateLink_full}" data-popup >
							{mlang_message ADD_NEW}			</a>
</span>
{END add_link}
	 
		{BEGIN deleteselected_link}
<span data-itemtype="delete" data-itemid="delete" {$item_delete} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$deleteselectedlink_attrs} {$deleteselectedlink_span} disabled >
							{mlang_message DELETE}			</a>
</span>
{END deleteselected_link}
	 
		{BEGIN updateselected_link}
<span data-itemtype="update_selected" data-itemid="update_selected" {$item_update_selected} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="taskrenewapprove_edit.php{$stateLink_full}" {$updateselectedlink_attrs} disabled data-popup >
							{mlang_message UPDATE_SELECTED}			</a>
</span>
{END updateselected_link}
			{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="{mlang_message WR_PRINT_FRIENDLY}" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			{mlang_message PPANEL_SCOPE}		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="taskrenewapprove_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									{mlang_message PPANEL_ALL_PAGES}							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="taskrenewapprove_print.php?{$crosstable_attrs}">
				{mlang_message PPANEL_THIS_PAGE}			</label>
		</div>
	</div>
		
		 
	<div class="row">
		<div class="col-md-4">
			&nbsp;
		</div>
		<div class="col-md-8">
			<label style="color: gray;" for="printSelection{$id}">
			<input name="printScope" disabled="disabled" id="printSelection{$id}" type="radio" >
			{mlang_message PPANEL_SELECTED}			</label>
		</div>
	</div>
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					{mlang_message RECORDS_PP}							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							{mlang_message PPANEL_PRINT}			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
	 
		<div id="fildhidepanel{$id}" class="bs-fildhidepanel 
	 showHide	 reorder	keep-open btn-group"
	data-itemtype="columns_control" data-itemid="columns_control" {$item_columns_control} data-pageid="{$pageid}"	title="{mlang_message SHOW_HIDE_COLUMNS}"
	>
	<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><i class="glyphicon glyphicon-th-list"></i> <span class="caret"></span></button>
	<ul role="menu" class="dropdown-menu dropdown-left">
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_projectID" checked="checked" value="1" data-field="projectID" data-fieldname="projectID">
					<span>{$label taskRenewApprove projectID }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_renewDate" checked="checked" value="1" data-field="renewDate" data-fieldname="renewDate">
					<span>{$label taskRenewApprove renewDate }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_renewDesc" checked="checked" value="1" data-field="renewDesc" data-fieldname="renewDesc">
					<span>{$label taskRenewApprove renewDesc }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_renewAttFille" checked="checked" value="1" data-field="renewAttFille" data-fieldname="renewAttFille">
					<span>{$label taskRenewApprove renewAttFille }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_checkDate" checked="checked" value="1" data-field="checkDate" data-fieldname="checkDate">
					<span>{$label taskRenewApprove checkDate }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_checkStatus" checked="checked" value="1" data-field="checkStatus" data-fieldname="checkStatus">
					<span>{$label taskRenewApprove checkStatus }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_opinionDate" checked="checked" value="1" data-field="opinionDate" data-fieldname="opinionDate">
					<span>{$label taskRenewApprove opinionDate }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_opinionStatus" checked="checked" value="1" data-field="opinionStatus" data-fieldname="opinionStatus">
					<span>{$label taskRenewApprove opinionStatus }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_approveDate" checked="checked" value="1" data-field="approveDate" data-fieldname="approveDate">
					<span>{$label taskRenewApprove approveDate }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_approveStatus" checked="checked" value="1" data-field="approveStatus" data-fieldname="approveStatus">
					<span>{$label taskRenewApprove approveStatus }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_entryUserName" checked="checked" value="1" data-field="entryUserName" data-fieldname="entryUserName">
					<span>{$label taskRenewApprove entryUserName }</span>
				</label>
			</div>
					</a>
		</li>
							<li>
		<a>
					  	<div class="checkbox">
				<label>
					<input type="checkbox" id="hide_entryTime" checked="checked" value="1" data-field="entryTime" data-fieldname="entryTime">
					<span>{$label taskRenewApprove entryTime }</span>
				</label>
			</div>
					</a>
		</li>
			</ul>
</div>
		</div>					</div>
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="projectID"]:before {
		content: "{$label taskRenewApprove projectID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="renewDate"]:before {
		content: "{$label taskRenewApprove renewDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="renewDesc"]:before {
		content: "{$label taskRenewApprove renewDesc}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="renewAttFille"]:before {
		content: "{$label taskRenewApprove renewAttFille}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="entryUserName"]:before {
		content: "{$label taskRenewApprove entryUserName}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="checkDate"]:before {
		content: "{$label taskRenewApprove checkDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="checkStatus"]:before {
		content: "{$label taskRenewApprove checkStatus}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="opinionDate"]:before {
		content: "{$label taskRenewApprove opinionDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="opinionStatus"]:before {
		content: "{$label taskRenewApprove opinionStatus}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="approveDate"]:before {
		content: "{$label taskRenewApprove approveDate}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="approveStatus"]:before {
		content: "{$label taskRenewApprove approveStatus}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="entryTime"]:before {
		content: "{$label taskRenewApprove entryTime}";
	}
	}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes} r-horizontal-grid  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_icons}
	<th
	
	{$cell_grid_headcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"		data-control-cell
	
	>

	
	</th>
	{END cellblock_grid_headcell_icons}
				 
					{BEGIN cellblock_grid_headcell_checkbox}
	<th
	
	{$cell_grid_headcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox_head" data-itemid="grid_checkbox_head" {$item_grid_checkbox_head} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkboxheader_attrs}>
</span>
{END checkbox_column}
	
	</th>
	{END cellblock_grid_headcell_checkbox}
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$projectID_class}
			"

			data-field="projectID"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projectID_fieldheadercolumn}
	{BEGIN projectID_fieldheader}
	<SPAN {$projectID_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projectID" data-fieldname="projectID">
	{$label taskRenewApprove projectID }	{$arrow_icon_projectID}
	</SPAN>
	{END projectID_fieldheader}
{END projectID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewDate_class}
			"

			data-field="renewDate"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewDate_fieldheadercolumn}
	{BEGIN renewDate_fieldheader}
	<SPAN {$renewDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewDate" data-fieldname="renewDate">
	{$label taskRenewApprove renewDate }	{$arrow_icon_renewDate}
	</SPAN>
	{END renewDate_fieldheader}
{END renewDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewDesc_class}
			"

			data-field="renewDesc"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewDesc_fieldheadercolumn}
	{BEGIN renewDesc_fieldheader}
	<SPAN {$renewDesc_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewDesc" data-fieldname="renewDesc">
	{$label taskRenewApprove renewDesc }	{$arrow_icon_renewDesc}
	</SPAN>
	{END renewDesc_fieldheader}
{END renewDesc_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewAttFille_class}
			"

			data-field="renewAttFille"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewAttFille_fieldheadercolumn}
	{BEGIN renewAttFille_fieldheader}
	<SPAN {$renewAttFille_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewAttFille" data-fieldname="renewAttFille">
	{$label taskRenewApprove renewAttFille }	{$arrow_icon_renewAttFille}
	</SPAN>
	{END renewAttFille_fieldheader}
{END renewAttFille_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$checkDate_class}
			"

			data-field="checkDate"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN checkDate_fieldheadercolumn}
	{BEGIN checkDate_fieldheader}
	<SPAN {$checkDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="checkDate" data-fieldname="checkDate">
	{$label taskRenewApprove checkDate }	{$arrow_icon_checkDate}
	</SPAN>
	{END checkDate_fieldheader}
{END checkDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$checkStatus_class}
			"

			data-field="checkStatus"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN checkStatus_fieldheadercolumn}
	{BEGIN checkStatus_fieldheader}
	<SPAN {$checkStatus_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="checkStatus" data-fieldname="checkStatus">
	{$label taskRenewApprove checkStatus }	{$arrow_icon_checkStatus}
	</SPAN>
	{END checkStatus_fieldheader}
{END checkStatus_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$opinionDate_class}
			"

			data-field="opinionDate"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN opinionDate_fieldheadercolumn}
	{BEGIN opinionDate_fieldheader}
	<SPAN {$opinionDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="opinionDate" data-fieldname="opinionDate">
	{$label taskRenewApprove opinionDate }	{$arrow_icon_opinionDate}
	</SPAN>
	{END opinionDate_fieldheader}
{END opinionDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
				 
					{BEGIN cellblock_grid_headcell_field7}
	<th
	
	{$cell_grid_headcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$opinionStatus_class}
			"

			data-field="opinionStatus"
	
	data-cellId="grid_headcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN opinionStatus_fieldheadercolumn}
	{BEGIN opinionStatus_fieldheader}
	<SPAN {$opinionStatus_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="opinionStatus" data-fieldname="opinionStatus">
	{$label taskRenewApprove opinionStatus }	{$arrow_icon_opinionStatus}
	</SPAN>
	{END opinionStatus_fieldheader}
{END opinionStatus_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field7}
				 
					{BEGIN cellblock_grid_headcell_field8}
	<th
	
	{$cell_grid_headcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$approveDate_class}
			"

			data-field="approveDate"
	
	data-cellId="grid_headcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approveDate_fieldheadercolumn}
	{BEGIN approveDate_fieldheader}
	<SPAN {$approveDate_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approveDate" data-fieldname="approveDate">
	{$label taskRenewApprove approveDate }	{$arrow_icon_approveDate}
	</SPAN>
	{END approveDate_fieldheader}
{END approveDate_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field8}
				 
					{BEGIN cellblock_grid_headcell_field9}
	<th
	
	{$cell_grid_headcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$approveStatus_class}
			"

			data-field="approveStatus"
	
	data-cellId="grid_headcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approveStatus_fieldheadercolumn}
	{BEGIN approveStatus_fieldheader}
	<SPAN {$approveStatus_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approveStatus" data-fieldname="approveStatus">
	{$label taskRenewApprove approveStatus }	{$arrow_icon_approveStatus}
	</SPAN>
	{END approveStatus_fieldheader}
{END approveStatus_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field9}
				 
					{BEGIN cellblock_grid_headcell_field10}
	<th
	
	{$cell_grid_headcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$entryUserName_class}
			"

			data-field="entryUserName"
	
	data-cellId="grid_headcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN entryUserName_fieldheadercolumn}
	{BEGIN entryUserName_fieldheader}
	<SPAN {$entryUserName_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="entryUserName" data-fieldname="entryUserName">
	{$label taskRenewApprove entryUserName }	{$arrow_icon_entryUserName}
	</SPAN>
	{END entryUserName_fieldheader}
{END entryUserName_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field10}
				 
					{BEGIN cellblock_grid_headcell_field11}
	<th
	
	{$cell_grid_headcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$entryTime_class}
			"

			data-field="entryTime"
	
	data-cellId="grid_headcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN entryTime_fieldheadercolumn}
	{BEGIN entryTime_fieldheader}
	<SPAN {$entryTime_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="entryTime" data-fieldname="entryTime">
	{$label taskRenewApprove entryTime }	{$arrow_icon_entryTime}
	</SPAN>
	{END entryTime_fieldheader}
{END entryTime_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field11}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_icons}
	<td
	
	{$cell_grid_cell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_icons" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"		data-control-cell
	
	>

	 
		{BEGIN edit_column}
{BEGIN edit_link}
<span data-itemtype="grid_edit" data-itemid="grid_edit" {$item_grid_edit} data-pageid="{$pageid}" data-record-id="{$recId}" data-small data-button-item>
	<a type="button" title="{mlang_message EDIT}" class="btn-link   
	 glyphicon glyphicon-pencil" href="taskrenewapprove_edit.php?{$editlink}" {$editlink_attrs} title="{mlang_message EDIT}" data-popup >		
				
								</a>
</span>
{END edit_link}
{END edit_column}
	
	</td>
	{END cellblock_grid_cell_icons}
				 
					{BEGIN cellblock_grid_cell_checkbox}
	<td
	
	{$cell_grid_cell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_cell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"		data-control-cell
	
		data-checkbox-cell
	>

	 
		{BEGIN checkbox_column}
<span data-itemtype="grid_checkbox" data-itemid="grid_checkbox" {$item_grid_checkbox} data-pageid="{$pageid}" data-record-id="{$recId}" >
	<input type="checkbox" {$checkbox_attrs}
		>
</span>	
{END checkbox_column}
	
	</td>
	{END cellblock_grid_cell_checkbox}
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$projectID_class}
			"

			data-field="projectID"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN projectID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="projectID" data-fieldname="projectID" data-default-width >
{$projectID_value}
</span>
{END projectID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewDate_class}
			"

			data-field="renewDate"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewDate" data-fieldname="renewDate" data-default-width >
{$renewDate_value}
</span>
{END renewDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewDesc_class}
			"

			data-field="renewDesc"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewDesc_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewDesc" data-fieldname="renewDesc" data-default-width >
{$renewDesc_value}
</span>
{END renewDesc_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$renewAttFille_class}
			"

			data-field="renewAttFille"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN renewAttFille_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="renewAttFille" data-fieldname="renewAttFille" data-default-width >
{$renewAttFille_value}
</span>
{END renewAttFille_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$checkDate_class}
			"

			data-field="checkDate"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN checkDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="checkDate" data-fieldname="checkDate" data-default-width >
{$checkDate_value}
</span>
{END checkDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$checkStatus_class}
			"

			data-field="checkStatus"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN checkStatus_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="checkStatus" data-fieldname="checkStatus" data-default-width >
{$checkStatus_value}
</span>
{END checkStatus_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$opinionDate_class}
			"

			data-field="opinionDate"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN opinionDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="opinionDate" data-fieldname="opinionDate" data-default-width >
{$opinionDate_value}
</span>
{END opinionDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
				 
					{BEGIN cellblock_grid_cell_field7}
	<td
	
	{$cell_grid_cell_field7}
	{$recordattrs}
	class="
		 r-ori-vert				{$opinionStatus_class}
			"

			data-field="opinionStatus"
	
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN opinionStatus_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="opinionStatus" data-fieldname="opinionStatus" data-default-width >
{$opinionStatus_value}
</span>
{END opinionStatus_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field7}
				 
					{BEGIN cellblock_grid_cell_field8}
	<td
	
	{$cell_grid_cell_field8}
	{$recordattrs}
	class="
		 r-ori-vert				{$approveDate_class}
			"

			data-field="approveDate"
	
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approveDate_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approveDate" data-fieldname="approveDate" data-default-width >
{$approveDate_value}
</span>
{END approveDate_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field8}
				 
					{BEGIN cellblock_grid_cell_field9}
	<td
	
	{$cell_grid_cell_field9}
	{$recordattrs}
	class="
		 r-ori-vert				{$approveStatus_class}
			"

			data-field="approveStatus"
	
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN approveStatus_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="approveStatus" data-fieldname="approveStatus" data-default-width >
{$approveStatus_value}
</span>
{END approveStatus_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field9}
				 
					{BEGIN cellblock_grid_cell_field10}
	<td
	
	{$cell_grid_cell_field10}
	{$recordattrs}
	class="
		 r-ori-vert				{$entryUserName_class}
			"

			data-field="entryUserName"
	
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN entryUserName_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="entryUserName" data-fieldname="entryUserName" data-default-width >
{$entryUserName_value}
</span>
{END entryUserName_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field10}
				 
					{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert				{$entryTime_class}
			"

			data-field="entryTime"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN entryTime_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="entryTime" data-fieldname="entryTime" data-default-width >
{$entryTime_value}
</span>
{END entryTime_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_icons}
	<td
	
	{$cell_grid_footcell_icons}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_icons" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_icons}
				 
					{BEGIN cellblock_grid_footcell_checkbox}
	<td
	
	{$cell_grid_footcell_checkbox}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_checkbox" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	
	</td>
	{END cellblock_grid_footcell_checkbox}
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
				 
					{BEGIN cellblock_grid_footcell_field7}
	<td
	
	{$cell_grid_footcell_field7}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field7}
				 
					{BEGIN cellblock_grid_footcell_field8}
	<td
	
	{$cell_grid_footcell_field8}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field8}
				 
					{BEGIN cellblock_grid_footcell_field9}
	<td
	
	{$cell_grid_footcell_field9}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field9}
				 
					{BEGIN cellblock_grid_footcell_field10}
	<td
	
	{$cell_grid_footcell_field10}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field10}
				 
					{BEGIN cellblock_grid_footcell_field11}
	<td
	
	{$cell_grid_footcell_field11}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="taskrenewapprove_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field11}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
							</div>
						
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="topbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
							
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
