<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel taskDisburseList add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>{mlang_message BACK_TO_LIST}</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>{mlang_message VIEW}</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>{mlang_message EDIT}</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}											<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN projectID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_projectID}  r-vertical-field" 
	data-signal-error-for="projectID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="projectID" data-fieldname="projectID" >

	<label class="r-edit-label control-label" for="{$labelfor_projectID}">
		{BEGIN projectID_label}{$label taskDisburseList projectID }{END projectID_label}
	</label>
	<div class="r-edit-field">
		{$projectID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="projectID">
		<div class="text-muted" >
		{$tooltip taskDisburseList projectID }		</div>
	</div>
</div>


{END projectID_fieldblock}
											
{BEGIN trackDisburseDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_trackDisburseDate}  r-vertical-field" 
	data-signal-error-for="trackDisburseDate{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="trackDisburseDate" data-fieldname="trackDisburseDate" >

	<label class="r-edit-label control-label" for="{$labelfor_trackDisburseDate}">
		{BEGIN trackDisburseDate_label}{$label taskDisburseList trackDisburseDate }{END trackDisburseDate_label}
	</label>
	<div class="r-edit-field">
		{$trackDisburseDate_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="trackDisburseDate">
		<div class="text-muted" >
		{$tooltip taskDisburseList trackDisburseDate }		</div>
	</div>
</div>


{END trackDisburseDate_fieldblock}
											
{BEGIN progressStep_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_progressStep}  r-vertical-field" 
	data-signal-error-for="progressStep{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="progressStep" data-fieldname="progressStep" >

	<label class="r-edit-label control-label" for="{$labelfor_progressStep}">
		{BEGIN progressStep_label}{$label taskDisburseList progressStep }{END progressStep_label}
	</label>
	<div class="r-edit-field">
		{$progressStep_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="progressStep">
		<div class="text-muted" >
		{$tooltip taskDisburseList progressStep }		</div>
	</div>
</div>


{END progressStep_fieldblock}
											
{BEGIN disburseStatus_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_disburseStatus}  r-vertical-field" 
	data-signal-error-for="disburseStatus{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="disburseStatus" data-fieldname="disburseStatus" >

	<label class="r-edit-label control-label" for="{$labelfor_disburseStatus}">
		{BEGIN disburseStatus_label}{$label taskDisburseList disburseStatus }{END disburseStatus_label}
	</label>
	<div class="r-edit-field">
		{$disburseStatus_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="disburseStatus">
		<div class="text-muted" >
		{$tooltip taskDisburseList disburseStatus }		</div>
	</div>
</div>


{END disburseStatus_fieldblock}
											
{BEGIN disburseDesc_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_disburseDesc}  r-vertical-field" 
	data-signal-error-for="disburseDesc{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="disburseDesc" data-fieldname="disburseDesc" >

	<label class="r-edit-label control-label" for="{$labelfor_disburseDesc}">
		{BEGIN disburseDesc_label}{$label taskDisburseList disburseDesc }{END disburseDesc_label}
	</label>
	<div class="r-edit-field">
		{$disburseDesc_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="disburseDesc">
		<div class="text-muted" >
		{$tooltip taskDisburseList disburseDesc }		</div>
	</div>
</div>


{END disburseDesc_fieldblock}
											
{BEGIN disburseAttFille_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_disburseAttFille}  r-vertical-field" 
	data-signal-error-for="disburseAttFille{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="disburseAttFille" data-fieldname="disburseAttFille" >

	<label class="r-edit-label control-label" for="{$labelfor_disburseAttFille}">
		{BEGIN disburseAttFille_label}{$label taskDisburseList disburseAttFille }{END disburseAttFille_label}
	</label>
	<div class="r-edit-field">
		{$disburseAttFille_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="disburseAttFille">
		<div class="text-muted" >
		{$tooltip taskDisburseList disburseAttFille }		</div>
	</div>
</div>


{END disburseAttFille_fieldblock}
											
{BEGIN disburseAmount_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_disburseAmount}  r-vertical-field" 
	data-signal-error-for="disburseAmount{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="disburseAmount" data-fieldname="disburseAmount" >

	<label class="r-edit-label control-label" for="{$labelfor_disburseAmount}">
		{BEGIN disburseAmount_label}{$label taskDisburseList disburseAmount }{END disburseAmount_label}
	</label>
	<div class="r-edit-field">
		{$disburseAmount_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="disburseAmount">
		<div class="text-muted" >
		{$tooltip taskDisburseList disburseAmount }		</div>
	</div>
</div>


{END disburseAmount_fieldblock}
											
{BEGIN entryUserName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryUserName}  r-vertical-field" 
	data-signal-error-for="entryUserName{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="entryUserName" data-fieldname="entryUserName" >

	<label class="r-edit-label control-label" for="{$labelfor_entryUserName}">
		{BEGIN entryUserName_label}{$label taskDisburseList entryUserName }{END entryUserName_label}
	</label>
	<div class="r-edit-field">
		{$entryUserName_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryUserName">
		<div class="text-muted" >
		{$tooltip taskDisburseList entryUserName }		</div>
	</div>
</div>


{END entryUserName_fieldblock}
											
{BEGIN entryTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_entryTime}  r-vertical-field" 
	data-signal-error-for="entryTime{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="entryTime" data-fieldname="entryTime" >

	<label class="r-edit-label control-label" for="{$labelfor_entryTime}">
		{BEGIN entryTime_label}{$label taskDisburseList entryTime }{END entryTime_label}
	</label>
	<div class="r-edit-field">
		{$entryTime_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="entryTime">
		<div class="text-muted" >
		{$tooltip taskDisburseList entryTime }		</div>
	</div>
</div>


{END entryTime_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							{mlang_message SAVE}			</a>
</span>
	 
		<span data-itemtype="add_reset" data-itemid="add_reset" {$item_add_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="resetButton{$id}" >
							{mlang_message RESET}			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							{mlang_message BACK_TO_LIST}			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							{mlang_message CANCEL}			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
